@use "../themes/sansoul/assets/css/variables" as *;
@use "../themes/sansoul/assets/css/mixins" as *;

// General
.box__sub:has(strong) {
  display: flex;
  gap: 1em;
  align-items: center;
  width: 100%;
  opacity: .75;
  strong {
    color: var(--main-text);
  }
  &::after {
    content: '';
    height: 1px;
    flex: 1;
    background: var(--text);
    margin-left: 1em;
    opacity: .25;
  }
}
.sub {
  @include font-base-bold;
  text-transform: uppercase;
  letter-spacing: .16em;
  font-size: 66%;
}
.box__title:not(.hide) + .box__sub {
  order: -1;
  margin: 0 0 calc(-0.5 * var(--box-gap));
}
.box__icon--top,
.img {
  &:has(+ .box__title:not(.hide) + .box__sub) {
    order: -2;
  }
}
.bg-card {
  order: -3;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  strong {
    // display: block;
    color: var(--alt-text);
  }
}
.bg-white,
.bg-light,
.bg-alt-light,
.bg-main-light,
.bg-cta-light {
  --text: #506357;
  // --alt-text: #a27a4b;
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6,
  .h {
    strong {
      font-weight: inherit;
    }
  }
}
.bg-black,
.bg-dark,
.bg-alt-dark,
.bg-main-dark,
.bg-cta-dark {
  --text: #e0e8df;
}
.md blockquote {
  --subtitle: var(--alt-text);
}
.btn,
.link {
  .icon--txt {
    order: 20;
    align-self: center;
  }
}

.review__stars {
  color: var(--alt-text);
}

.box__btn,
.form__btn {
  width: auto;
  margin-right: auto;
}
.box__btn.link {
  font-weight: $font-weight-bold-cursive;
  color: var(--hover);
  background-size: 100% 100%;
  padding-bottom: .5em;
  .icon--txt {
    margin-left: .125em;
    font-size: 1.5em;
  }
}
.link:is(:hover, :focus, .box--go:where(:hover, :focus) *) {
  color: var(--alt-text);
  background-size: 0 100%;
}

@mixin show-from($delay) {
  animation: show-from .5s (.25 + .125s * $delay) both;
}

// Home
#body-home {
  // Hero
  #hero {
    overflow: hidden;
    .img        { @include show-from(0); --show-from: scale(3); }
    .box__title { @include show-from(1); }
    .sub        { @include show-from(2); }
    .md p       { @include show-from(3); }
    .md .btns   { @include show-from(4); }
  }
}

// Áreas
#areas-derecho {
  .box__title {
    margin-block: 1.5rem;
  }
  .box__btn {
    margin-top: 1.5rem;
    width: auto;
  }
}

// Dispel
.dispel {
  --mask-img: linear-gradient(transparent 0%, black 15%);
  .bg-fig {
    -webkit-mask-image: var(--mask-img);
    mask-image: var(--mask-img);
  }
}
@media (min-width: $viewport-xl) {
  .dispel {
    --mask-img: linear-gradient(to right, transparent 0%, black 25%);
  }
  .dispel--right {
    --mask-img: linear-gradient(to left, transparent 0%, black 25%);
  }
}